@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'naruto-font';
  src: url('/src/assets/fonts/Evangelion.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.diagonal {
  clip-path: polygon(0 0, 100% 0, 0 100%);
}
.diagonal-reverse {
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border: solid 1px #eaeaea;
  background: #eaeaea;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #eaeaea;
}

::-webkit-scrollbar-track {
  background: #8b8b8b;
  border-radius: 6px;
}
