@keyframes slideUp {
  0% {
    margin-top: 100vh;
    margin-bottom: -100vh;
  }
  100% {
    margin-top: 0vh;
    margin-bottom: 0vh;
  }
}

@keyframes slideDown {
  0% {
    margin-top: -100vh;
    margin-bottom: 100vh;
  }
  100% {
    margin-top: 0vh;
    margin-bottom: 0vh;
  }
}

@keyframes popUp {
  0% {
    display: none;
    transform: scale(0.5);
  }
  100% {
    display: inherit;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:root {
  --fg-color: #e4ecec;
  --fg-secondary: #e8a0b4;
  --bg-color: rgb(41,41,54, 0.9);
  --bg-color-solid: #292936;
}

/* ::-webkit-scrollbar { */
/*   width: 0; */
/* } */
::-webkit-scrollbar {
  width: 0.2em;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--fg-secondary);
}

* {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  box-sizing:border-box;
}

.App {
  overflow: hidden;
  background-color: snow;
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  background-image: url("assets/background.jpg");
  background-position: center;
  background-size:cover;
  display: flex;
  flex-direction: column;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.navbar-box {
  animation: slideDown 2s ease-in-out;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--fg-color);
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  gap: 2em;
  padding: 0.5em;
  border-radius: 20px;
  align-items: flex-end;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.navbar-header {
  font-size: 1.1em;
  font-weight: bolder;
  span {
    color: var(--fg-secondary);
    font-weight: bolder;
  }
}

.navbar-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  input {
    background-color: var(--fg-color);
    border-radius: 20px;
    border: none;
    text-align: left;
    padding-left: 1.5em;
  }
  input:focus {
    outline: none;
    border: none;
  }
  .icon {
    color: var(--fg-color);
  }
}

.page-container {
  animation: slideUp 2s ease-in-out;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-inline: 0.5em;
  padding-bottom: 0.5em;
  gap: 1em;
  height: 100%;
}

.page-box {
  height: inherit;
  max-height: 100%;
  padding: 0.5em;
  background-color: var(--bg-color);
  height: 100%;
  border-radius: 20px;
  color: var(--fg-color);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  overflow:auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
}

.card-container {
  animation: popUp 2s ease-in-out;
  width: 200px;
  height: 350px;
  max-width: 200px;
  max-height: 300px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  border: solid;
  position: relative;
  transition: transform 1s;
  background-color: var(--fg-secondary);
  display: flex;
  justify-content: center;

  img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  h1 {
    transition: opacity 1s;
    visibility: hidden;
    background-color: var(--bg-color);
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    font-weight: bolder;
    text-align: center;
    padding: 0.5em;
    font-size: 0.8em;
    opacity: 0;
  }
}

.card-container:hover {
  cursor: pointer;
  h1 {
    opacity: 1;
    visibility: visible;
  }
}

.card-container:active {
  transform: scale(0.8);
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
  overflow: hidden;
  position: relative;
  animation: slideUp 1s;
  display: flex;
  width: 70%;
  height: 70%;
  background-color: var(--bg-color);
  color: var(--fg-color);
  box-shadow: 0px 0px 5em rgba(0, 0, 0, 1);
  border-radius: 20px;
  padding: 0.5em;
  gap: 1em;

  h1 {
    font-weight: bolder;
  }
  h2 {
    font-weight: bolder;
  }
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-close {
  transition: transform 1s;
}

.modal-close:active {
  transform: scale(0);
}

.modal-content {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 70%;
  .tldr {
    overflow: auto;
    font-size: 0.7em;
    text-align: left;
  }
  .title {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    gap: 0.5em;
    color: var(--fg-secondary);
    top: 0.5em;
    border-bottom: solid 1px;
    h2 {
      font-weight: lighter;
    }
  }
}

.modal-hero {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: var(--fg-secondary);
  img {
    height: 100%;
    animation: fadeIn 2s ease-in-out;
    flex-shrink: 1;
  }
}

.modal-content-table {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  thead {
    th {
      display: flex;
      align-items: center;
      gap: 0.5em;
      svg {
        color: white;
      }
      span {
        font-size: 0.8em;
      }
    }
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--fg-secondary);
  }
  tbody {
    margin-top: -3px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    tr > td {
      font-size: 0.8em;
      font-weight: lighter;
    }
  }
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.lds-roller {
  color: var(--fg-color);
}

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 900px) {
   * {
    font-size: 1.1rem;
  }

  .modal-box {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    img {
      position: sticky;
      border-style: solid;
    }
  }

  .page-box {
    justify-content:center;
  }

  .modal-close {
    position: fixed;
    top: 10px;
  }

  .modal-content {
    padding: 1em;
    margin-left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .card-container {
    max-width: 150px;
    max-height: 250px;
  }
}

.pagination-nav {
  max-width: 100%;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
    li {
      transition: transform 1s;
      cursor: pointer;
    }
    li:hover {
      transform: scale(1.1);
    }
    li.current {
      color: var(--fg-secondary);
      font-weight: bolder;
    }
  }
}

.notfound {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  h1 {
    font-weight: bolder;
    font-size: 7em;
  }
  h1::first-letter {
    color: var(--fg-secondary);
  }
  h1::after, h1::before {
    content: "4";
    color: var(--fg-secondary);
  }
}

