@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-1.5 bg-slate-800 h-1;
}

::-webkit-scrollbar-thumb {
  @apply bg-rose-500 rounded-md;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);  
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#pop-button:checked ~ .pop-modal {
  display: block;
}

.pop-modal {
  display: none;
}
